{% load static %}
<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'polls/main.css' %}">
	<title></title>
</head>
<body>
	<header class="site-header">
	<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
		<div class="container">
		<a class="navbar-brand mr-4" href="">Your Polls </a>
		<div class="collapse navbar-collapse" id="navbarToggle">
			<div class="navbar-nav mr-auto">
		<a class="nav-item nav-link" href="">Home</a>
		<a class="nav-item nav-link" href="">About</a>
			</div>
			<div class="navbar-nav">
						{% if user.is_authenticated %}
						    <a class="nav-item nav-link" href="{% url 'polls:poll-create' %}">New Poll</a>
							<a class="nav-item nav-link" href="">Profile</a>
							<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>

						{% else %}
							<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
							<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
						{% endif %}
					</div>
		</div>
	</div>
	</nav>
	</header>
	<main>
		{% block content %}
		{% endblock %}
	</main>
</body>
</html>